<div data-options="dxView : { name: 'dreamdetails', title: 'Dream details' } " >
    <div data-options="dxContent : { targetPlaceholder: 'content' } " >
		<div class="dx-fieldset">
			<div class="dx-field">
				<div class="dx-field-label">From:</div>
				<div class="dx-field-value" data-bind="text: start"></div>
			</div>
			<div class="dx-field">
				<div class="dx-field-label">To:</div>
				<div class="dx-field-value" data-bind="text: end"></div>
			</div>
			<div class="dx-field">
				<div class="dx-field-label">Total hours:</div>
				<div class="dx-field-value" data-bind="text: total"></div>
			</div>
		</div>
	</div>
</div>